body {
    background-image:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRi-txPhvfT7nj9n0z5wR3-UrSmgVFwCEORv9CuoV1hqsV1nc75");
    font-family: sans-serif;
}

.center {
    text-align: right;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.img-medium {
    height: 200px;
    padding-right:1000px;
    padding-top:60px;
}
.container{
                
                margin: 0 auto;
                color: grey;
                font-family: sans-serif;
                padding-top: 100px;
                padding-right:1000px;
                padding-left:100px;
}                
